@import "../vars.css";

.Card {
    width: 200px;
    height: 300px;
    overflow: hidden;
    background-color: var(--primary-bg-color-light);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    filter: drop-shadow(-5px 5px 1px rgba(0, 0, 0, 0.118));
}

.Card > * {
    flex: 1 1 0;
}

.Card p {
    font-size: small;
}

.Card-text-wrapper {
    min-height: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: var(--border-radius);
}

.Card-text-wrapper > * {
    color: var(--primary-bg-color);
}

.Card img {
    padding: 1rem;
    height: 100px;
    object-fit: contain;
    transition: 0.5s;
}

.Card:hover img {
    opacity: 92%;
    filter: saturate(120%)
            contrast(60%)
            brightness(150%)
            grayscale(20%)
            drop-shadow(0px 0px 10px rgb(255, 255, 255));
}