@import "../vars.css";

.Card {
    overflow: hidden;
    background-color: var(--primary-bg-color-light);
    border-radius: var(--border-radius);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
}

.Card * {
    color: var(--primary-bg-color);
}

.Card p, .Card a{
    font-size: x-small;
}

.Card-text-wrapper {
    border: 1px solid rgb(0, 0, 0);
    min-height: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: var(--border-radius);
}

.Card h6 {
    font-family: 'Space Mono', sans-serif;
    margin-top: 0.6em;
    margin-bottom: 0;
    font-size: medium;
}

.Card img {
    padding: 1rem;
    height: 100px;
    object-fit: contain;
    transition: 0.5s;
}

.Card-tag-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.Tag {
    font-family: 'Space Mono', sans-serif;
    border: 1px solid black;
    font-size: 0.6rem;
    margin: 0.2rem;
    background-color: var(--primary-bg-color);
    border-radius: var(--border-radius);
    padding: 0.2rem 0.3rem;
    text-decoration: none;
    color: var(--primary-text-color);
    transition: 0.5s;
}

.Card a, .Card a *{
    transition: 0.5s;
}

.Tag:hover {
    cursor: pointer;
    background-color: var(--primary-bg-color-light);
}

.Card a:hover * , .Card a:hover{
    cursor: pointer;
    color: var(--primary-bg-color-light);

}