@import "vars.css";

body {
  z-index: -100;
  margin: 0;
  overflow-x: hidden;
}

.App-body {
  width: 100%;
  background-color: var(--primary-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

h1{
  font-family: var(--font-display);
  font-size: 4rem;
  color: var(--primary-text-color);
}
h2 {
  font-family: var(--font-sans-serif);
  color: var(--primary-text-color);
  font-size: x-large;
  margin-bottom: 0;
}
p, a, button{
  font-family: var(--font-sans-serif);
  color: var(--primary-text-color);
  line-height: 1.2rem;
  box-sizing: content-box;
  font-size: 1rem;
}

button {
  background-color: var(--primary-bg-color-light);
  padding: 1em;
  border: var(--border);
  border-radius: 5em;
  cursor: pointer;
  transition: var(--transition-duration);
  color: white;
}

button:hover {
  
  background-color: var(--secondary-bg-color);
}

input[type="text"] {
  all: unset;
  font-family: var(--font-sans-serif);
}

input[type="text"]:focus, input[type="checkbox"]:focus {
  outline: none;
}

.Wrapper-max-width {
  width: 90vw;
  max-width: 72rem;
}

.bg-light {
  background-color: var(--primary-bg-color-light);
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.flex {
  display: flex;
}

.height-100 {
  min-height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}

.flex-align-end {
  display: flex;
  align-content: flex-end;
}

.flex-equal-width * {
  flex: 1 1 0px;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.align-stretch > * {
  align-self: stretch;
}

.flex-column {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: var(--padding);
}

.flex-column-text {
  justify-content: flex-end;
}
.flex-column-text h2 {
  margin-bottom: 0;
  justify-content: flex-end;
}

.Wrapper-center{
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

#Home-fill-img {
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(rgba(255, 255, 255, 0), var(--primary-bg-color) 120%), url('./media/esther-verdu-z3I6QNClKLk-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

#Home-fill-img > .Wrapper-max-width > div {
  flex: 1 1 0px;
}

#Home-fill-img .monoline {
  filter:invert(1);
  width: 15rem;
  transform: translateY(50%);
}

#Home-fill-img hr {
  width: 100%;
  height: 3px;
  background-color: white;
  color: white;
  border:var(--border);
}

#Home-title-h1 {
  font-size: 4rem;
  margin: 0;
}

.text-glow {
  text-shadow: 0px 0px 5px white;
}

.Home-card-wrapper {
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home-card-wrapper > .Card {
  width: 200px;
}

.Home-card-wrapper > .Card:nth-child(n + 2) {
  margin-left: -8rem;
}

.Home-card-wrapper > .Card:nth-child(1) {
  transform: rotate(-2deg);
}

.Home-card-wrapper > .Card:nth-child(2) {
  transform: rotate(3deg);
}

.transition {
  transition: 0.5s;
}

.Filter-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.margin-top {
  margin-top: 6rem;
}

.Filter-card-wrapper > .Card {
  width: 180px;
  margin: calc(var(--padding) / 4);
}

    
.Card-tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;   
}

.Img-wrapper {
  overflow: hidden;
  display: flex;
  border:var(--border);
  border-radius: var(--border-radius);
}

.Img-wrapper img {
  object-fit:cover;
  width: 100%;
}

.Img-main-wrapper{
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg-color-light);
  border: var(--border);
  border-radius: 5px;
  overflow: hidden;
  padding: calc(var(--padding) / 4);
}

.Img-mini-list {
  margin-top: calc(var(--padding) / 4);
  display: flex;
}
.Img-mini-list > *{
  flex: 0 1 3rem;
  transition: 0.5s;
}

.Img-mini-list > *:hover {
  cursor: pointer;
  filter:contrast(30%) brightness(150%);
}

.Img-mini-list > *:not(:first-child) {
  margin-left: 0.5rem;
}

.Img-square {
  aspect-ratio: 1 / 1;
  border: var(--border);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
}

.Img-4-3 {
  aspect-ratio: 4/3;
  border: var(--border);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
}

.Img-4-3 img, .Img-square img {
  object-fit: cover;
  width: 100%;
}

.tags-no-click  {
  flex: unset;
  height: min-content;
}

.tags-no-click .Tag {
  background-color: var(--primary-bg-color-light);
  color: black;
  flex: unset;
  height: min-content;
}


.tags-no-click .Tag:hover {
  cursor: default;
}

.Filter-footer {
  flex-direction: column;
  margin-bottom: var(--padding);
  transition: var(--transition-duration);
}

.Page-center-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - var(--navbar-height));
}

.Page-center-wrapper * {
  margin: 1rem;
}

input.Filter-search-input {
  margin-bottom: calc(var(--padding) / 8);
  font-size: medium;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  display: flex;
  padding: 0.8rem;
  background-color: rgb(255, 255, 255);
  border-radius: var(--border-radius);
  border: var(--border);
}

.Search-boxes-wrapper {
  padding: calc(var(--padding) / 2);
}

@media (prefers-reduced-motion: no-preference) {
  #Home-fill-img > .Wrapper-max-width > :nth-child(1) > * {
    animation: Fade-in 1s cubic-bezier(0.33, 1, 0.68, 1);
  }
  .Home-card-wrapper > .Card {
    transition: var(--transition-duration) cubic-bezier(0.33, 1, 0.68, 1);
  }
  @media only screen and (min-width: 1000px)  {
    .Home-card-wrapper:hover > .Card {
      margin-left: 0;
    }

  }
}

@media only screen and (max-width: 750px) {

  #Home-fill-img .flex-column:nth-child(2){
    display: none;
  }

  #Home-fill-img .flex-column {
    padding-top: 16rem;
  }

  .column-on-mobile {
    flex-direction: column;
    justify-content: flex-end;
  }

  .column-on-mobile > * {
    padding: 2rem;
  }

  .column-on-mobile > *:not(:first-child) {
    padding-top: 0;
  }

  .column-on-mobile > *:not(:first-child) > *:first-child {
    margin-top: 0;
  }
}

.App-link {
  color: #686868;
}

@keyframes Fade-in {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  50% {
    opacity: 80%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes Wipe {
  0% {
    width: 70%;
  }
  100% {
    width: 30%;
  }
}
