@font-face {
    font-family: "SF Pro Text";
    src: url("fonts/SF-Pro-Text-Regular.otf");
}
@font-face {
    font-family: "SF Pro Display";
    src: url("fonts/SF-Pro-Text-Regular.otf");
}
@font-face {
    font-family: "SF Pro Display";
    src: url("fonts/SF-Pro-Text-Bold.otf");
    font-style: bold;
}
@font-face {
    font-family: "SF Pro Rounded";
    src: url("fonts/SF-Pro-Rounded-Regular.otf");
    font-style:normal;
}

/*@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans-BoldOblique.ttf");
    font-weight: bold;
    font-style: italic;
}*/