@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&family=Space+Mono:wght@400;700&display=swap');

:root {
  --primary-bg-color: #7d79c3;
  --primary-bg-color-light: #c5c3ed;
  --secondary-bg-color: #ffecd1;
  --primary-text-color: white;
  --border-radius: 0.3rem;
  --padding: 3rem;
  --transition-duration: 0.5s;
}

.bg-light {
  background-color: var(--primary-bg-color-light);
}

.rounded-corners {
  border-radius: var(--border-radius);
}

.padded {
  padding: var(--padding);
}
